/** @format */

body {
  margin: 0;
  padding: 0;
}
:root {
  --primary-gradient: linear-gradient(135deg, #f5f4f2 0%, #e3e7ef 100%);
  --header-bg: #1c2e46;
  --nav-bg: #e3e7ef;
  --nav-life: #e3e7ef;
  --nav-color: #1c2e46;
  --btn-color: #1c2e46;
  --footer-color: #1c2e46;
  --btn-radius: 0.5rem;
  --spacing: 1rem;
}

.site-header {
  top: 0;
  left: 0;
  width: 100%;
  background: var(--header-bg);
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.route-header {
  top: 0;
  left: 0;
  width: 100%;
  background: var(--header-bg);
  backdrop-filter: blur(6px);
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #ccc;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.header-icon {
  flex-shrink: 0;
  cursor: pointer;
}
.header-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1;
  justify-content: center;
}
.route-header p {
  margin: 0;
  margin-bottom: 10px;
}
.router-toggle {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  gap: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.toggle-button {
  flex: 1;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #ccc;
  font-size: 10px;
  background: var(--nav-bg);
  color: #1c2e46;
  cursor: pointer;
}

.active {
  flex: 1;
  background: #1c2e46;
  color: #fff;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #1c2e46;
  font-size: 10px;
  cursor: pointer;
}
.search-bar {
  display: flex;
}
.search-bar input {
  flex: 1;
  padding: 10px;
  margin-left: 2rem;
  margin-right: 2rem;
}
.route-summary {
  display: flex;
  flex-direction: column;
}
.route-summary-header {
  background-color: #1c2e46;
  text-align: center;
  margin-left: 2rem;
  margin-right: 2rem;
}
.route-summary-header h2 {
  color: #fff;
  margin: 0;
  padding: 0.9rem;
}
.route-summary-body {
  background-color: var(--nav-bg);
  display: flex;
  justify-content: space-around;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.route-summary-item {
  text-align: center;
  margin-bottom: 1rem;
}
.route-summary-item h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
}
.route-summary-item p {
  margin: 0;
  padding: 0;
  margin-top: 1rem;
}
.site-header img {
  width: 5rem;
  height: 5rem;
  margin-right: 0.5rem;
  border-radius: 30%;
}
.site-header h1 {
  margin: 0;
  font-size: 1.5rem;
  margin-top: 1.5rem;
  color: var(--nav-bg);
}

.site-nav {
  text-align: center;
  width: 100%;
  background: var(--nav-bg);
  color: var(--nav-bg);
  padding: var(--spacing) 0;
}

.site-nav button {
  background: transparent;
  border: 2px solid #fff;
  background-color: var(--btn-color);
  font-size: 1rem;
  padding: 0.5rem 1.25rem;
  margin: 0 0.5rem;
  border-radius: var(--btn-radius);
  color: #fff;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.site-nav button:hover {
  background: #fff;
  color: var(--nav-color);
}
.site-nav .default {
  background: #fff;
  color: var(--nav-color);
}
.site-main {
  display: flex;
  gap: var(--spacing);
  padding: var(--spacing) 2rem;
  margin-top: 1.5rem;
  min-height: calc(100vh - 200px);
  flex-direction: column;
}
.map-title {
  background-color: #1c2e46;
  padding: 1rem;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
}
.live-stats {
  display: flex;
  flex-direction: column;
  background-color: var(--nav-life);
  border-radius: 8px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.stat-numbers {
  display: flex;
  justify-content: space-around;
}
.stat-body {
  text-align: center;
}
.stat-body p {
  margin: 0;
  margin-bottom: 1rem;
}
.live-stats h4 {
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  margin-left: 10px;
  margin-top: 10px;
  text-align: justify;
}
.map-container {
  flex: 1 1 600px;
  min-height: 400px;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  overflow: hidden;
  background: #fff;
}
.report-container {
  flex: 1 1 45%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.quuick-actions {
  display: flex;
  flex-direction: column;
}
.actions-body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 0.5rem;
}
.actions-div {
  text-align: left;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 8px;
  background: var(--nav-life);
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.actions-div h3 {
  font-weight: 600;
}

.fab {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #1c2e46;
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.fab-timer {
  position: fixed;
  right: 10rem;
  background-color: #1c2e46;
  color: #ccc;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.fab-timer h2 {
  color: #dcdee5;
}

.route-filter {
  display: flex;
  flex-direction: column;
  background-color: #1c2e46;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.filter-button {
  display: flex;
}
.rank-options {
  cursor: pointer;
}
.rank-options-sort {
  cursor: pointer;
}
.fab-route {
}

.walk {
}
.fab-route:hover {
  transform: rotate(360deg);
  background-color: #dcdee5;
  color: #1c2e46;
}
.fab-rotate {
  position: fixed;
  color: #1c2e46;
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid #dcdee5;
  left: 25px;
  bottom: 55px;
  width: 70px;
  height: 60px;
  border-radius: 50%;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
}

.fab-rotate:hover {
  transform: rotate(360deg);
  background-color: #dcdee5;
  color: #1c2e46;
}
.report-btn {
  background: var(--nav-color);
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  border-radius: var(--btn-radius);
  font-size: 1.1rem;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s;
}
.fab-route p {
  margin: 0;
}
.report-btn:hover {
  transform: translateY(-3px);
}
.site-footer {
  background: var(--footer-color);
  color: white;
  text-align: center;
  padding: 2rem;
  margin-top: auto;
}
.error {
  color: red;
}
.reserve-btn {
  margin: 5px;
}

.reserve-icon {
  margin: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reserve-spot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #1c2e46;
  padding-top: 3rem;
  padding-bottom: 2rem;
  border-radius: 10px;
}

.reserve-spot-btn {
  width: 70%;
  background-color: #dcdee5;
  color: #1c2e46;
  border-radius: 30px;
}

.reserve-spot-btn:hover {
  background: linear-gradient(45deg, #7c94b4 0%, #1c2e46 100%);
  color: #dcdee5;
}

.reserve-spot p {
  color: #dcdee5;
}

.reservation-card {
  background: white;
  border-radius: 12px;
  border-left: 5px solid #32cd32;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  font-family: "Segoe UI", sans-serif;
}

.reservation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #2e7d32;
  font-weight: bold;
  margin-bottom: 10px;
}

.status-dot {
  width: 10px;
  height: 10px;
  background-color: #2ecc71;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}

.timer {
  font-size: 0.9em;
  color: #555;
}

.reservation-details {
  color: #444;
  line-height: 1.5em;
  margin-bottom: 15px;
}

.reservation-action {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.reservation-action button {
  padding: 10px 14px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  font-size: 0.9em;
}

.cancel {
  background-color: #d9534f;
  color: white;
}
.past {
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  font-family: "Segoe UI", sans-serif;
}
.past h2 {
  color: #cd3232;
}
.show-All {
  cursor: pointer;
}
.show-All:hover {
  text-decoration: underline;
}
.reservation-past {
  background: white;
  border-radius: 12px;
  border-left: 5px solid #cd3232;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  font-family: "Segoe UI", sans-serif;
}
.reservation-past p {
  color: #444;
  margin: 0;
  padding: 5px;
}

.makeReservation-btns {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
