/** @format */

.map-legend {
  position: absolute;
  bottom: 20px;
  left: 35px;
  background: rgba(0, 0, 0, 0.05);
  padding: 10px 16px;
  font-size: 14px;
  color: #1e293b;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  z-index: 1000;
  animation: fadeInOut 6s ease-in-out;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 999px;
  margin-right: 6px;
}

.green {
  background-color: #10b981;
}
.red {
  background-color: #ef4444;
}
.pink {
  background-color: #fa1580;
}
.yellow {
  background-color: #facc15;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}
