/** @format */

.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  z-index: 100;
  background: linear-gradient(45deg, #1c2e46 0%, #7c94b4 100%);
}

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.tagline {
  font-size: 1.4rem;
  color: #444;
  margin-bottom: 1rem;
  font-weight: 600;
}

.description {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 2rem;
}

.features {
  list-style: none;
  padding: 0;
  margin-bottom: 2rem;
  color: #555;
  font-size: 1rem;
  line-height: 1.6;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.welcome-container {
  font-family: "Segoe UI", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(120deg, #1c2e46 0%, #7c94b4 100%);
  color: #fff;
  padding: 0 2rem;
}

.welcome-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  border-bottom: 1px solid #ddd;
  background: transparent;
}

.logo-title {
  font-size: 2rem;
  font-weight: bold;
  color: #bec4cd;
  animation: drop 0.5s ease;
}

.nav-buttons .nav-btn {
  margin-left: 1rem;
  padding: 0.5rem 1.2rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
}

.nav-btn.filled {
  background-color: #1c2e46;
  color: white;
}

.nav-btn.filled:hover {
  background-color: #1c2e46;
}

.nav-btn.outlined {
  border: 2px solid #1c2e46;
  color: #1c2e46;
}

.nav-btn.outlined:hover {
  background-color: #bec4cd;
}

.hero-section {
  text-align: center;
  padding: 4rem 0;
}

.hero-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #cfd5dd;
}

.hero-title .highlight {
  color: #1c2e46;
}

.hero-subtitle {
  max-width: 600px;
  margin: 0 auto;
  font-size: 1.1rem;
  color: #fff;
}

.hero-buttons {
  margin-top: 2rem;
}

.hero-btn {
  margin: 0 1rem;
  padding: 0.8rem 1.6rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.hero-btn.primary {
  background-color: #1c2e46;
  color: white;
}

.hero-btn.primary:hover {
  background-color: #0e1c2f;
}

.hero-btn.secondary {
  background-color: transparent;
  border: 2px solid #1c2e46;
  color: #1c2e46;
}

.hero-btn.secondary:hover {
  background-color: #cfd5dd;
}

.features-section {
  display: flex;
  justify-content: space-around;
  margin-top: 4rem;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.feature-card {
  flex: 1;
  min-width: 250px;
  background: white;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  text-align: center;
  transition: transform 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-5px);
}

.feature-card h3 {
  color: #1c2e46;
  margin-bottom: 0.5rem;
}
.feature-card p {
  color: #666;
}
.welcome-footer {
  text-align: center;
  margin-top: auto;
  padding: 2rem 0;
  font-size: 0.9rem;
  color: #fff;
}

.auth-container {
  width: 100%;
  max-width: 500px;
  margin: 10rem auto;
  background: #ffffff;
  border-radius: 10px;
  padding: 2.5rem 2rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease;
}
.auth-container:hover {
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
}
.auth-container h2 {
  font-size: 1.5rem;
  color: #222;
  margin-bottom: 1.5rem;
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.auth-form input,
.category {
  padding: 0.75rem 1rem;
  margin-bottom: 1.25rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.auth-form input:focus {
  border-color: #1c2e46;
  outline: none;
  box-shadow: 0 0 0 2px rgba(238, 9, 121, 0.2);
}
.auth-form .btn-auth {
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background: linear-gradient(45deg, #1c2e46 0%, #7c94b4 100%);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0;
}

.auth-form .btn-auth:hover {
  background: linear-gradient(45deg, #7c94b4 0%, #1c2e46 100%);
  transform: translate(-4px);
  box-shadow: 0 6px 2px rgba(0, 0, 0, 0.15);
}

.auth-form .link-text a {
  color: #1c2e46;
  text-decoration: none;
  transition: color 0.3s ease;
}

.auth-form .link-text a:hover {
  color: #7c94b4;
  cursor: pointer;
}
.auth-form h2 {
  font-size: 1.5rem;
  text-align: center;
}

.auth-form p {
  font-size: 1rem;
  text-align: center;
}
