/** @format */

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-box {
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #111;
  color: #fff;
  padding: 6px 10px;
  border-radius: 6px;
  white-space: nowrap;
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 1000;
}

.tooltip-container:hover .tooltip-box {
  opacity: 1;
  transform: translateX(-50%) translateY(-4px);
}

.tooltip-box::after {
  content: "";
  position: absolute;
  top: 100%; /* below the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 6px;
  border-style: solid;
  border-color: #111 transparent transparent transparent;
}
